body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #2c3e50, #4ca1af);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4a69bd;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 50px;
}

.inner-container {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  color: black;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

label {
  margin-right: 0.5rem;
  flex: 0 0 120px;
}

input[type='text'],
select {
  flex: 1;
  padding: 0.5rem;
  border: 2px solid #1e3799;
  border-radius: 8px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  color: #708090;
  outline: none;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

input[type='text']:hover,
select:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

button {
  width: 100%;
  padding: 0.75rem;
  background: linear-gradient(135deg, #1e3799, #4a69bd);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1rem;
}

button:hover {
  background: linear-gradient(135deg, #4a69bd, #1e3799);
  box-shadow: 0 10px 20px rgba(30, 55, 153, 0.4);
  transform: translateY(-2px);
}

.remaining-time-label,
.leave-time-label {
  color: #1e3799;
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.status-message {
  color: #1e3799;
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: 1.5rem;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

p {
  margin: 1rem 0;
  font-size: 1.1rem;
}

@media screen and (max-width: 768px) {
  .main {
    max-width: 90%;
    padding: 1.5rem;
  }
}

input[type='text'],
select {
  flex: 1;
  padding: 0.5rem;
  border: 2px solid #1e3799;
  border-radius: 8px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  color: #708090;
  outline: none;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%231e3799"><path d="M7 10l5 5 5-5H7z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 1rem;
}

input[type='text']:hover,
select:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

input[type='text']:focus,
select:focus {
  border-color: #4a69bd;
}

.button-container {
  display: flex;
  gap: 1rem;
}